
.navbar-default
  background-color: $wt
  border-color: transparent

.navbar-default .navbar-nav.navbar-main>.active>a, .navbar-default .navbar-nav.navbar-main>.active>a:hover
  background-color: $wt
  border-bottom: 4px solid $or
  
