section.container.sec-one
  .row
    padding-top: 80px
    .col-md-3
      padding-top: 150px
      height: 100%
      background-position: 50% 0%
      h2, p, a
        text-align: center
        display: block
        font-size: 18px
        color: $bl
      h2
        font-weight: bold
        font-size: 20px
        padding-bottom: 25px
      p
        padding-bottom: 30px
        padding-left: 10px
        padding-right: 10px
      a
        font-size: 16px
        color: $or
        font-weight: bold
        text-decoration: none
        padding-bottom: 50px
        &:hover
          // color: lighten($or, 20%)
          color: lighten($bl, 20%) 
    .col-md-3:nth-of-type(1) 
      background-image: url("../images/hm-ico-1.jpg")
      background-repeat: no-repeat
    .col-md-3:nth-of-type(2) 
      background-image: url("../images/hm-ico-2.jpg")
      background-repeat: no-repeat
    .col-md-3:nth-of-type(3) 
      background-image: url("../images/hm-ico-3.jpg")
      background-repeat: no-repeat
    .col-md-3:nth-of-type(4) 
      background-image: url("../images/hm-ico-4.jpg")
      background-repeat: no-repeat
    
