@import variables
@import navigation
@import footer
@import home_sections
@import web_design_sections
@import portfolio_sections
@import about_sections
@import contact_sections

body
  font-family: 'Roboto', sans-serif
h2
  font-weight: bold
  font-size: 30px
  padding-bottom: 15px
h3
  font-weight: bold
  font-size: 20px
  padding-bottom: 5px
a
  color: $or
  font-size: 16px
  &:hover, &:focus
    color: lighten($bl, 20%) 
    text-decoration: none
.row-eq-height
  display: flex

.cl-ac
  padding: 30px 0
