@import variables
@import navigation
@import footer
@import sections

body
  font-family: 'Roboto', sans-serif
a
  color: $or
  font-size: 16px
  &:hover, &:focus
    color: lighten($bl, 20%) 
    text-decoration: none
